
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <title>Home</title>
</head>
<body style="background-image: url('https://img.freepik.com/free-vector/gradient-cryptocurrency-concept_23-2149215736.jpg?size=626&ext=jpg&ga=GA1.1.1686445852.1711729879&semt=ais'); height: fit-content;">
    <h1 style="text-align: center;">Welcome Home</h1>
    <a href="{{ url_for('index') }}">Go to Index Page</a>
</body>
</html>