.body{
    
    background: url('https://img.freepik.com/free-vector/gradient-cryptocurrency-concept_23-2149215736.jpg?size=626&ext=jpg&ga=GA1.1.1686445852.1711729879&semt=ais');
    background-repeat: no-repeat;
    background-size: 100%;
}

.send{
    display: block;
    background-color: aliceblue;
    float: center;
    text-align: center;
    font-size: 40px;
    margin : auto;
    border-radius: 20px;
    padding: 50px;
    border: 50px;
    width: 500px;
}
.head{
    display: block;
    width: 500px;
    background-color: aliceblue;
    margin-left: 300px;
    margin: auto;
    border-radius: 20px;
    padding: 50px;
    border: 10px;
    margin-top: 40px;
}

.input{
    display: block;
    margin-left: 300px;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
}

.list{
    background-color: aliceblue;
    margin-left: 300px;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    border: 10px;
    
}

.info{
    display: block;
    background-color: aliceblue;
    float: right;
    margin-right: 200px;
    border-radius: 20px;
    padding: 10px;
    border: 10px;
}